:root {
    --primary-color: #f5972d;
    --secondary-color: #397c1b;
    --text-color: #333333;
    --background-color: F5F5F5;
    --misc: #7C5A52;
}

/*##### GLOBAL #####*/
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body, 
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: #F5F5F5; */
    /* background-image: url('./images/wbg2.jpg'); */
    /* background-size: cover; */
    /* color: #071a03; */
    color: var(--text-color);
    font-family: 'roboto-mono', 'Courier New', Courier, monospace;
}

html {
    cursor: url("./cursor.svg") 14 14, auto;
    background-color: var(--background-color);
}

/* .section__title {} */

/*########## HEADER ##########*/
.header {
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
    background-color: #FFF;
    letter-spacing: 1.5px;
    font-size: .5em;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header__details {
    justify-content: space-between;
    padding: 0 1rem;
}

/* .header__title {} */
/* .header__name {} */


/*########## MAIN ##########*/
.main {
    padding: 2rem 1rem 4rem;
}

/*########## ABOUT ##########*/
.about {
    padding: 1.5em 0;
}

.about__title {
    margin: 0;
}

.about__details {
    margin-top: .5em;
    letter-spacing: .5px;
    word-spacing: 1px;
    line-height: 1.5em;
}

.about__button {
    background: var(--primary-color);
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: .5em 1em;
    transition: all 0.3s;
}

.about__button:hover {
    transform: scale(1.15);
}

/*########## SKILLS ##########*/
/* .skills {} */

.skills__title {
    margin-bottom: 0px;
}

.skills__list {
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
}
.list__item {
    padding: 0;
    gap: .75em;
}


/*########## SKILLS ##########*/
.projects__title {
    margin: 1em 0 0;
}

.project__image {
    border: 1px solid black;
    max-width: 420px;
    width: 100%;
    height: auto;
}

.project__header {
    align-items: center;
    gap: 10px;
}


.project__link {
    margin-top: 6px;
}

/* .project__description {} */

/*########## FOOTER ##########*/
.footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    background-color: #FFF;
}

.footer__details {
    justify-content: center;
    gap: 20px;
    padding: .5em 0 0;
}

.footer__contact {
    font-size: .75em;
    text-align: center;
    /* padding-bottom: .5em; */
}

/*########## MISC/UTILITY ##########*/
.flex {
    display: flex;
}

.logo {
    font-size: 1.5em;
}

.logo__small {
    font-size: 1.25em;
    transition: all 0.3s;
}

.logo__small:hover {
    transform: scale(1.15);
}

.spin {
    animation: spin 12s linear infinite;
}

.color-primary {
    color: var(--primary-color)
}

.color-secondary {
    color: var(--secondary-color)
}

.color-yellow {
    color: #FFD700;
}

.color-blue {
    color: #0074CC;
}

.color-light-blue {
    color: #87CEEB;
}

.color-retro-blue {
    color: #6A7B8C
}

.color-retro-blue-two {
    color: #505050
}

.text-color {
    color: var(--text-color)
}

.border {
    border: none;
    height: 1px;
    background-color: #000;
    opacity: .1;
    margin: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

/*########## MEDIA QUERIES ##########*/
@media (max-width: 320px) {
    
}

@media (min-width: 768px) {
    .main {
        display: flex;
        padding: 2rem 0rem 0;
        width: 100vw;
    }
    .about {
        max-width: 180px;
        padding: 1rem 1rem 0;
    }
    .wide {
        width: 100%;
    }
    .skills {
        padding: 0 1em;
    }
    .projects {
        padding: 0 1em;
    }
    .project {
        gap: 10px;
        width: 400px;
    }
    .project__header {
        width: 400px;
    }
    /* .project__description {
        width: 300px;
    } */
    .wide__test {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        overflow: scroll;
    }
    .image__container {
        height: 300px;
        background-color: #000;
        display: flex;
        align-items: center;
    }
    .testing123 {
        height: calc(100vh - 120px);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 1200px) {
}

/*########## KEYFRAMES ##########*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}