/*##### GLOBAL #####*/
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    /* background-image: url('./images/wbg2.jpg');
    background-size: cover; */
    font-family: 'roboto-mono', 'Courier New', Courier, monospace;
    padding: .5em 1.5em;
}

html {
    cursor: url("./cursor.svg") 14 14, auto;
}

/*########## HEADER ##########*/
.header {
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
    letter-spacing: 1.5px;
    font-size: .5em;
}

.header__details {
    justify-content: space-between;
}

/* .header__title {} */
/* .header__name {} */

.header__border {
    border: none;
    height: 1px;
    background-color: #000;
    opacity: .1;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

/*########## MAIN ##########*/

/*########## ABOUT ##########*/
.about {
    max-width: 160px;
}

.about__title {
    margin-bottom: 0;
}

.about__details {
    margin-top: .5em;
    letter-spacing: .5px;
    word-spacing: 1px;
    line-height: 1.5em;
}

/*########## FOOTER ##########*/

/*########## MISC/UTILITY ##########*/
.flex {
    display: flex;
}

.orangered {
    color: orangered;
}

.green {
    color: green;
}

/*########## MEDIA QUERIES ##########*/
@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
