:root {
    --primary-color: #f5972d;
    --secondary-color: #397c1b;
    --text-color: #333333;
    --background-color: F5F5F5;
    --misc: #7C5A52;
}

/*##### GLOBAL #####*/
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mono';
    src: url('./fonts/roboto-mono/static/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body, 
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    /* background-image: url('./images/wbg2.jpg');
    background-size: cover; */
    font-family: 'roboto-mono', 'Courier New', Courier, monospace;
    /* color: #071a03; */
    color: var(--text-color);
}

html {
    cursor: url("./cursor.svg") 14 14, auto;
    background-color: var(--background-color);
}

/*########## HEADER ##########*/
.header {
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
    letter-spacing: 1.5px;
    font-size: .5em;
    min-width: 320px;
}

.header__details {
    justify-content: space-between;
    padding: 0 1rem;
}

/* .header__title {} */
/* .header__name {} */

.header__border {
    border: none;
    height: 1px;
    background-color: #000;
    opacity: .1;
    margin: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

/*########## MAIN ##########*/
.main {
    padding: 0 1rem;
}

/*########## ABOUT ##########*/
.about {

}

.about__title {
    margin: 0;
    padding-top: 1em;
}

.about__details {
    margin-top: .5em;
    letter-spacing: .5px;
    word-spacing: 1px;
    line-height: 1.5em;
}

.about__button {
    background: var(--primary-color);
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: .5em 1em;
}

/*########## SKILLS ##########*/
/* .skills {} */
/* .skills__title {} */
.skills__list {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
}
.list__item {
    padding: .5em 0;
    gap: .75em;
}

.item-logo {
    font-size: 1.5em;
}

/*########## SKILLS ##########*/
.project__image {
    border: 1px solid black;
    max-width: 100%;
    height: auto;
}

/*########## MISC/UTILITY ##########*/
.flex {
    display: flex;
}

.color-primary {
    color: #f5972d;
}

.color-secondary {
    color: #397c1b;
}

.color-yellow {
    color: #FFD700;
}

.color-blue {
    color: #0074CC;
}

.color-light-blue {
    color: #87CEEB;
}

/*########## MEDIA QUERIES ##########*/
@media (max-width: 320px) {

}

@media (min-width: 768px) {
    .about {
        max-width: 180px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem 1rem 0;
        height: calc(100vh - 2.75rem);
    }
}

@media (min-width: 1200px) {
}
